body{
    background: radial-gradient(circle, var(--dynamic-color, rgb(0, 213, 255)), var(--color-mode, rgb(255, 255, 255)));
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 2px;
    border: 2px solid black;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    width: 300px;  
}

.header:hover{
    background: rgba(255, 167, 167, 0.752);
    cursor: none;
}
.weather-container{
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.top{
    margin-top: -50px;
    padding: 10px;
    padding-top: 40px;
    display: flex;
    gap: 10px;
}
.search-bar{
    border: none;
    border-radius: 30px;
    width: 250px;
    height: 30px;
}
.search{
    border-radius: 20%;
    border: none;
    cursor: pointer;
}
input:focus{
    outline: none;
}
.search:hover{
    background-color: hsl(0, 0%, 90%);
}
.the-temperature{
    font-size: 32px;
}
.content{
    font-weight: bold;
}

.temperatures{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: -80px;
    margin-top: 40px;
}

.temperatures p{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0,);
    -webkit-text-stroke: 0.5px black;

}

.mode{
    top: 20px;
    left: 120px;
    cursor: pointer;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
    margin:auto;
    display: flex;
    text-align: center;
}
.mode:hover{
    background-color: hsl(0, 0%, 85%);
}
.color{
    display: flex;
    margin: auto;
    position: relative;
    left: 170px;
    top: -5px;
    border: none;
    cursor: pointer;

}
.clock-container{
    display: flex;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    left: 250px;
    top: -300px;
    border: 1px solid black;
    width: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}